SFS Bulk Non Availabilities/main/default/flows/SFS_Create_NA_on_Territory_Assignment_on_SR.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>57.0</apiVersion>
    <assignments>
        <name>Absence_Collection</name>
        <label>Absence Collection</label>
        <locationX>138</locationX>
        <locationY>935</locationY>
        <assignmentItems>
            <assignToReference>AbsenceList</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>AbsenceRecord</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Iterate_Holidays</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Absence_Instance</name>
        <label>Absence Instance</label>
        <locationX>138</locationX>
        <locationY>815</locationY>
        <assignmentItems>
            <assignToReference>AbsenceRecord.Type</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Iterate_Holidays.Type__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>AbsenceRecord.Start</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Iterate_Holidays.Start_Date__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>AbsenceRecord.End</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Iterate_Holidays.End_Date__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>AbsenceRecord.FSL__GanttLabel__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Iterate_Holidays.Name</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>AbsenceRecord.RecordTypeId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_RecordTypeID.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>AbsenceRecord.ResourceId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.ServiceResource.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>AbsenceRecord.Country</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Iterate_Holidays.Address__CountryCode__s</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>AbsenceRecord.Street</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Iterate_Holidays.Address__Street__s</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>AbsenceRecord.City</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Iterate_Holidays.Address__City__s</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>AbsenceRecord.State</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Iterate_Holidays.Address__StateCode__s</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>AbsenceRecord.PostalCode</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Iterate_Holidays.Address__PostalCode__s</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>AbsenceRecord.Non_Availability__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Iterate_Holidays.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Absence_Collection</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Has_NAs</name>
        <label>Has NAs?</label>
        <locationX>182</locationX>
        <locationY>455</locationY>
        <defaultConnectorLabel>FASLE</defaultConnectorLabel>
        <rules>
            <name>TRUE</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_NA</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_RecordTypeID</targetReference>
            </connector>
            <label>TRUE</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <interviewLabel>SFS Create NA on Territory Assignment on SR {!$Flow.CurrentDateTime}</interviewLabel>
    <label>SFS Create NA on Territory Assignment on SR</label>
    <loops>
        <name>Iterate_Holidays</name>
        <label>Iterate Holidays</label>
        <locationX>50</locationX>
        <locationY>695</locationY>
        <collectionReference>Get_NA</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Absence_Instance</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Create_Absences</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Create_Absences</name>
        <label>Create Absences</label>
        <locationX>50</locationX>
        <locationY>1151</locationY>
        <inputReference>AbsenceList</inputReference>
    </recordCreates>
    <recordLookups>
        <name>Get_NA</name>
        <label>Get NA</label>
        <locationX>182</locationX>
        <locationY>335</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Has_NAs</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Start_Date__c</field>
            <operator>GreaterThanOrEqualTo</operator>
            <value>
                <elementReference>$Flow.CurrentDateTime</elementReference>
            </value>
        </filters>
        <filters>
            <field>Service_Territory__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.ServiceTerritory.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Non_Availability__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_RecordTypeID</name>
        <label>Get RecordTypeID</label>
        <locationX>50</locationX>
        <locationY>575</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Iterate_Holidays</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Non Availability</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>RecordType</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <start>
        <locationX>56</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_NA</targetReference>
        </connector>
        <object>ServiceTerritoryMember</object>
        <recordTriggerType>Create</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>AbsenceList</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>ResourceAbsence</objectType>
    </variables>
    <variables>
        <name>AbsenceRecord</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>ResourceAbsence</objectType>
    </variables>
</Flow>
