SFS Bulk Non Availabilities/main/default/flows/SFS_Add_or_Remove_Service_Resource_from_NA.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>56.0</apiVersion>
    <assignments>
        <name>Absence_Record_Collection</name>
        <label>Absence Record Collection</label>
        <locationX>727</locationX>
        <locationY>888</locationY>
        <assignmentItems>
            <assignToReference>AbsenceRecordCollection</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>AbsenceRecord</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Iterate_Selected_Resources_To_Add</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Absence_Record_Collection_1</name>
        <label>Absence Record Collection</label>
        <locationX>591</locationX>
        <locationY>1447</locationY>
        <assignmentItems>
            <assignToReference>AbsenceCollection1</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>AbsenceRecord</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Iterate_Selected_Resources_To_Delete</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Add_Absence_Record</name>
        <label>Add Absence Record</label>
        <locationX>929</locationX>
        <locationY>942</locationY>
        <assignmentItems>
            <assignToReference>AbsenceRecord.Non_Availability__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>AbsenceRecord.Type</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_NA.Type__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>AbsenceRecord.FSL__GanttLabel__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_NA.Name</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>AbsenceRecord.Start</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_NA.Start_Date__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>AbsenceRecord.End</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_NA.End_Date__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>AbsenceRecord.RecordTypeId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_RecordTypeID.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>AbsenceRecord.ResourceId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Iterate_Selected_Resources_To_Add.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>AbsenceRecord.Description</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_NA.Description__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>AbsenceRecord.Country</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_NA.Address__CountryCode__s</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>AbsenceRecord.Street</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_NA.Address__Street__s</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>AbsenceRecord.City</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_NA.Address__City__s</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>AbsenceRecord.State</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_NA.Address__StateCode__s</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>AbsenceRecord.PostalCode</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_NA.Address__PostalCode__s</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Absence_Record_Collection</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Add_Record_Ids</name>
        <label>Add Record Ids</label>
        <locationX>1282</locationX>
        <locationY>183</locationY>
        <assignmentItems>
            <assignToReference>RelatedRecordIds</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Iterate_AR.ResourceId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ServiceResourceRecord.Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Iterate_AR.Resource.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ServiceResourceRecord.Name</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Iterate_AR.Resource.Name</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>relatedSRCollection</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>ServiceResourceRecord</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Iterate_AR</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Add_SR_ids</name>
        <label>Add SR ids</label>
        <locationX>242</locationX>
        <locationY>631</locationY>
        <assignmentItems>
            <assignToReference>RecordIDs</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Iterate_SR.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Iterate_SR</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>AddSelected_Resource_Id</name>
        <label>AddSelected Resource Id</label>
        <locationX>964</locationX>
        <locationY>726</locationY>
        <assignmentItems>
            <assignToReference>selectedResourceId</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Iterate_Selected_Resources_To_Add.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Resource_Found</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Delete_Absence_Resource</name>
        <label>Delete Absence Resource</label>
        <locationX>767</locationX>
        <locationY>1410</locationY>
        <assignmentItems>
            <assignToReference>AbsenceRecord.Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Iterate_Selected_Resources_To_Delete.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Absence_Record_Collection_1</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>record_ids</name>
        <label>record ids</label>
        <locationX>1350</locationX>
        <locationY>407</locationY>
        <assignmentItems>
            <assignToReference>RecordIDs</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Iterate_STM.ServiceResource.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ServiceResourceRecord.Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Iterate_STM.ServiceResource.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ServiceResourceRecord.Name</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Iterate_STM.ServiceResource.Name</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ServiceResources</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>ServiceResourceRecord</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Iterate_STM</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Comapny_level</name>
        <label>Company Level?</label>
        <locationX>587</locationX>
        <locationY>294</locationY>
        <defaultConnector>
            <targetReference>Get_Service_Territory_Members</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>FALSE</defaultConnectorLabel>
        <rules>
            <name>TRUE</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_NA.Service_Territory__r.Name</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_SR</targetReference>
            </connector>
            <label>TRUE</label>
        </rules>
    </decisions>
    <decisions>
        <name>Has_Records</name>
        <label>Has Records ?</label>
        <locationX>325</locationX>
        <locationY>980</locationY>
        <defaultConnector>
            <targetReference>Iterate_Selected_Resources_To_Delete</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>FALSE</defaultConnectorLabel>
        <rules>
            <name>TRUE2</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>AbsenceRecordCollection</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Create_Absence_Records</targetReference>
            </connector>
            <label>TRUE</label>
        </rules>
    </decisions>
    <decisions>
        <name>Has_Records_1</name>
        <label>Has Records ?</label>
        <locationX>273</locationX>
        <locationY>1414</locationY>
        <defaultConnector>
            <targetReference>Message</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>FALSE</defaultConnectorLabel>
        <rules>
            <name>TRUE3</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>AbsenceCollection1</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Delete_Absence_Records</targetReference>
            </connector>
            <label>TRUE</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_Active</name>
        <label>Is Active?</label>
        <locationX>1028</locationX>
        <locationY>317</locationY>
        <defaultConnector>
            <targetReference>Iterate_STM</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>FALSE</defaultConnectorLabel>
        <rules>
            <name>TRUE6</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Iterate_STM.ServiceResource.IsActive</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>record_ids</targetReference>
            </connector>
            <label>TRUE</label>
        </rules>
    </decisions>
    <decisions>
        <name>Resource_Found</name>
        <label>Resource Found?</label>
        <locationX>1335</locationX>
        <locationY>728</locationY>
        <defaultConnector>
            <targetReference>Add_Absence_Record</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>FALSE</defaultConnectorLabel>
        <rules>
            <name>TRUE4</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>RelatedRecordIds</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <elementReference>Iterate_Selected_Resources_To_Add.Id</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Iterate_Selected_Resources_To_Add</targetReference>
            </connector>
            <label>TRUE</label>
        </rules>
    </decisions>
    <decisions>
        <name>Resource_Found_1</name>
        <label>Resource Found?</label>
        <locationX>1025</locationX>
        <locationY>1294</locationY>
        <defaultConnector>
            <targetReference>Delete_Absence_Resource</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>FALSE</defaultConnectorLabel>
        <rules>
            <name>TRUE5</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>selectedResourceId</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <elementReference>Iterate_Selected_Resources_To_Delete.Resource.Id</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Iterate_Selected_Resources_To_Delete</targetReference>
            </connector>
            <label>TRUE</label>
        </rules>
    </decisions>
    <dynamicChoiceSets>
        <name>choice</name>
        <dataType>String</dataType>
        <displayField>Name</displayField>
        <object>ServiceResource</object>
        <valueField>Id</valueField>
    </dynamicChoiceSets>
    <environments>Default</environments>
    <interviewLabel>SFS Add or Remove Service Resource from NA {!$Flow.CurrentDateTime}</interviewLabel>
    <label>SFS Add or Remove Service Resource from NA</label>
    <loops>
        <name>Iterate_AR</name>
        <label>Iterate AR</label>
        <locationX>896</locationX>
        <locationY>200</locationY>
        <collectionReference>Get_Absence_Records</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Add_Record_Ids</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Comapny_level</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Iterate_Selected_Resources_To_Add</name>
        <label>Iterate Selected Resources To Add</label>
        <locationX>814</locationX>
        <locationY>656</locationY>
        <collectionReference>SelectedResources.selectedRows</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>AddSelected_Resource_Id</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Has_Records</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Iterate_Selected_Resources_To_Delete</name>
        <label>Iterate Selected Resources To Delete</label>
        <locationX>522</locationX>
        <locationY>1297</locationY>
        <collectionReference>Get_Absence_Records</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Resource_Found_1</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Has_Records_1</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Iterate_SR</name>
        <label>Iterate SR</label>
        <locationX>223</locationX>
        <locationY>455</locationY>
        <collectionReference>ServiceResources</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Add_SR_ids</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Assign_Resources</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Iterate_STM</name>
        <label>Iterate STM</label>
        <locationX>991</locationX>
        <locationY>488</locationY>
        <collectionReference>Get_Service_Territory_Members</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Is_Active</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Assign_Resources</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>Create_Absence_Records</name>
        <label>Create Absence Records</label>
        <locationX>707</locationX>
        <locationY>1115</locationY>
        <connector>
            <targetReference>Iterate_Selected_Resources_To_Delete</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Rollback_Create_Absences</targetReference>
        </faultConnector>
        <inputReference>AbsenceRecordCollection</inputReference>
    </recordCreates>
    <recordDeletes>
        <name>Delete_Absence_Records</name>
        <label>Delete Absence Records</label>
        <locationX>486</locationX>
        <locationY>1580</locationY>
        <connector>
            <targetReference>Message</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Rollback_Delete_Absences</targetReference>
        </faultConnector>
        <inputReference>AbsenceCollection1</inputReference>
    </recordDeletes>
    <recordLookups>
        <name>Get_Absence_Records</name>
        <label>Get Absence Records</label>
        <locationX>574</locationX>
        <locationY>169</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Iterate_AR</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Non_Availability__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>ResourceAbsence</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_NA</name>
        <label>Get NA</label>
        <locationX>263</locationX>
        <locationY>158</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_RecordTypeID</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Non_Availability__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_RecordTypeID</name>
        <label>Get RecordTypeID</label>
        <locationX>409</locationX>
        <locationY>225</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Absence_Records</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Non Availability</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>RecordType</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Service_Territory_Members</name>
        <label>Get Service Territory Members</label>
        <locationX>870</locationX>
        <locationY>331</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Iterate_STM</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>ServiceTerritoryId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_NA.Service_Territory__r.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>ServiceTerritoryMember</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_SR</name>
        <label>Get SR</label>
        <locationX>351</locationX>
        <locationY>339</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Iterate_SR</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>IsActive</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>TRUE</elementReference>
            </value>
        </filters>
        <object>ServiceResource</object>
        <outputReference>ServiceResources</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>Name</queriedFields>
    </recordLookups>
    <recordRollbacks>
        <name>Rollback_Create_Absences</name>
        <label>Rollback Create Absences</label>
        <locationX>951</locationX>
        <locationY>1109</locationY>
        <connector>
            <targetReference>Fault_Message</targetReference>
        </connector>
    </recordRollbacks>
    <recordRollbacks>
        <name>Rollback_Delete_Absences</name>
        <label>Rollback Delete Absences</label>
        <locationX>721</locationX>
        <locationY>1570</locationY>
    </recordRollbacks>
    <screens>
        <name>Assign_Resources</name>
        <label>Assign Resources</label>
        <locationX>560</locationX>
        <locationY>606</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Iterate_Selected_Resources_To_Add</targetReference>
        </connector>
        <fields>
            <name>SelectedResources</name>
            <dataTypeMappings>
                <typeName>T</typeName>
                <typeValue>ServiceResource</typeValue>
            </dataTypeMappings>
            <extensionName>flowruntime:datatable</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Data Table</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>selectionMode</name>
                <value>
                    <stringValue>MULTI_SELECT</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>minRowSelection</name>
                <value>
                    <numberValue>0.0</numberValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>tableData</name>
                <value>
                    <elementReference>ServiceResources</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>columns</name>
                <value>
                    <stringValue>[{&quot;apiName&quot;:&quot;Name&quot;,&quot;guid&quot;:&quot;column-4035&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:false,&quot;customHeaderLabel&quot;:&quot;&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:0,&quot;label&quot;:&quot;Name&quot;,&quot;type&quot;:&quot;text&quot;}]</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>isShowSearchBar</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>selectedRows</name>
                <value>
                    <elementReference>relatedSRCollection</elementReference>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Fault_Message</name>
        <label>Fault Message</label>
        <locationX>1191</locationX>
        <locationY>1264</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>FalutMessage</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;strong style=&quot;color: rgb(202, 29, 29);&quot;&gt;Some error occured. Please try again.&lt;/strong&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;strong style=&quot;color: rgb(202, 29, 29);&quot;&gt;Error Message :{!$Flow.FaultMessage}&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Message</name>
        <label>Message</label>
        <locationX>208</locationX>
        <locationY>1667</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>SuccessMsg</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;strong style=&quot;color: rgb(4, 89, 4);&quot;&gt;Resources are successfully assigned and removed from the Non Availability.&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>534</locationX>
        <locationY>50</locationY>
        <connector>
            <targetReference>Get_NA</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>AbsenceCollection1</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>ResourceAbsence</objectType>
    </variables>
    <variables>
        <name>AbsenceRecord</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>ResourceAbsence</objectType>
    </variables>
    <variables>
        <name>AbsenceRecordCollection</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>ResourceAbsence</objectType>
    </variables>
    <variables>
        <name>currentItemFromSourceCollection</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>ServiceResource</objectType>
    </variables>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>RecordIDs</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>RelatedRecordIds</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>RelatedSR</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>ServiceResource</objectType>
    </variables>
    <variables>
        <name>relatedSRCollection</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>ServiceResource</objectType>
    </variables>
    <variables>
        <name>selectedResourceId</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>ServiceR</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>ServiceResource</objectType>
    </variables>
    <variables>
        <name>ServiceResourceRecord</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>ServiceResource</objectType>
    </variables>
    <variables>
        <name>ServiceResources</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>ServiceResource</objectType>
    </variables>
</Flow>
