SFS Bulk Non Availabilities/main/default/flows/SFS_Create_NA.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>56.0</apiVersion>
    <assignments>
        <name>Absence_Collection</name>
        <label>Absence Collection</label>
        <locationX>270</locationX>
        <locationY>863</locationY>
        <assignmentItems>
            <assignToReference>AbsenceList</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>AbsenceRecord</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Iterate_Resources</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Absence_Collection_1</name>
        <label>Absence Collection 1</label>
        <locationX>1018</locationX>
        <locationY>971</locationY>
        <assignmentItems>
            <assignToReference>AbsenceList</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>AbsenceRecord</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Iterate_Service_Territory_Members</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Absence_Instance</name>
        <label>Absence Instance</label>
        <locationX>270</locationX>
        <locationY>755</locationY>
        <assignmentItems>
            <assignToReference>AbsenceRecord.Type</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Type__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>AbsenceRecord.FSL__GanttLabel__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Name</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>AbsenceRecord.Start</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Start_Date__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>AbsenceRecord.End</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.End_Date__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>AbsenceRecord.RecordTypeId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_RecorrdTypeID.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>AbsenceRecord.ResourceId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Iterate_Resources.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>AbsenceRecord.Non_Availability__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>AbsenceRecord.Country</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Address__CountryCode__s</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>AbsenceRecord.Street</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Address__Street__s</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>AbsenceRecord.City</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Address__City__s</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>AbsenceRecord.State</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Address__StateCode__s</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>AbsenceRecord.PostalCode</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Address__PostalCode__s</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>AbsenceRecord.Description</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Description__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Absence_Collection</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Absence_Instance_1</name>
        <label>Absence Instance 1</label>
        <locationX>1018</locationX>
        <locationY>863</locationY>
        <assignmentItems>
            <assignToReference>AbsenceRecord.Type</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Type__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>AbsenceRecord.RecordTypeId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_RecorrdTypeID.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>AbsenceRecord.Start</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Start_Date__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>AbsenceRecord.End</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.End_Date__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>AbsenceRecord.FSL__GanttLabel__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Name</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>AbsenceRecord.ResourceId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Iterate_Service_Territory_Members.ServiceResourceId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>AbsenceRecord.Non_Availability__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>AbsenceRecord.Country</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Address__CountryCode__s</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>AbsenceRecord.Street</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Address__Street__s</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>AbsenceRecord.City</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Address__City__s</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>AbsenceRecord.State</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Address__StateCode__s</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>AbsenceRecord.PostalCode</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Address__PostalCode__s</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>AbsenceRecord.Description</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Description__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Absence_Collection_1</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Company_holiday</name>
        <label>Company holiday ?</label>
        <locationX>556</locationX>
        <locationY>431</locationY>
        <defaultConnector>
            <targetReference>Get_Service_Territory_Members</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>FALSE</defaultConnectorLabel>
        <rules>
            <name>TRUE</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.SFS_BULK_NA__Service_Territory__r.Name</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Resources</targetReference>
            </connector>
            <label>TRUE</label>
        </rules>
    </decisions>
    <decisions>
        <name>Has_Records</name>
        <label>Has Records ?</label>
        <locationX>182</locationX>
        <locationY>1055</locationY>
        <defaultConnectorLabel>NO</defaultConnectorLabel>
        <rules>
            <name>YES</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>AbsenceList</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Create_Resource_Absences</targetReference>
            </connector>
            <label>YES</label>
        </rules>
    </decisions>
    <decisions>
        <name>Has_Records1</name>
        <label>Has Records ?</label>
        <locationX>930</locationX>
        <locationY>1247</locationY>
        <defaultConnectorLabel>NO</defaultConnectorLabel>
        <rules>
            <name>YES1</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>AbsenceList</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Create_Records_1</targetReference>
            </connector>
            <label>YES</label>
        </rules>
    </decisions>
    <decisions>
        <name>IsActive</name>
        <label>IsActive</label>
        <locationX>1150</locationX>
        <locationY>755</locationY>
        <defaultConnector>
            <targetReference>Iterate_Service_Territory_Members</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>FALSE</defaultConnectorLabel>
        <rules>
            <name>i</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Iterate_Service_Territory_Members.ServiceResource.IsActive</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Absence_Instance_1</targetReference>
            </connector>
            <label>TRUE</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <interviewLabel>SFS Create NA {!$Flow.CurrentDateTime}</interviewLabel>
    <label>SFS Create NA</label>
    <loops>
        <name>Iterate_Resources</name>
        <label>Iterate Resources</label>
        <locationX>182</locationX>
        <locationY>647</locationY>
        <collectionReference>Get_Resources</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Absence_Instance</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Has_Records</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Iterate_Service_Territory_Members</name>
        <label>Iterate Service Territory Members</label>
        <locationX>930</locationX>
        <locationY>647</locationY>
        <collectionReference>Get_Service_Territory_Members</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>IsActive</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Has_Records1</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Create_Records_1</name>
        <label>Create Records 1</label>
        <locationX>798</locationX>
        <locationY>1355</locationY>
        <inputReference>AbsenceList</inputReference>
    </recordCreates>
    <recordCreates>
        <name>Create_Resource_Absences</name>
        <label>Create Resource Absences</label>
        <locationX>50</locationX>
        <locationY>1163</locationY>
        <inputReference>AbsenceList</inputReference>
    </recordCreates>
    <recordLookups>
        <name>Get_RecorrdTypeID</name>
        <label>Get RecorrdTypeID</label>
        <locationX>556</locationX>
        <locationY>323</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Company_holiday</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Non Availability</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>RecordType</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Resources</name>
        <label>Get Resources</label>
        <locationX>182</locationX>
        <locationY>539</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Iterate_Resources</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>IsActive</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>ServiceResource</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Service_Territory_Members</name>
        <label>Get Service Territory Members</label>
        <locationX>930</locationX>
        <locationY>539</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Iterate_Service_Territory_Members</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>ServiceTerritoryId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Service_Territory__r.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>ServiceTerritoryMember</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <start>
        <locationX>430</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_RecorrdTypeID</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Applied_to_Resources__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <object>Non_Availability__c</object>
        <recordTriggerType>Create</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>AbsenceList</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>ResourceAbsence</objectType>
    </variables>
    <variables>
        <name>AbsenceRecord</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>ResourceAbsence</objectType>
    </variables>
</Flow>
