SFS Bulk Non Availabilities/main/default/flows/SFS_Create_NA_in_Bulk.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    <apiVersion>56.0</apiVersion>
    <assignments>
        <name>Absence_Collection</name>
        <label>Absence Collection</label>
        <locationX>1686</locationX>
        <locationY>1441</locationY>
        <assignmentItems>
            <assignToReference>AbsenceList</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>AbsenceRecord</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Iterate_NA_ID</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Absence_Instance</name>
        <label>Absence Instance</label>
        <locationX>1457</locationX>
        <locationY>1446</locationY>
        <assignmentItems>
            <assignToReference>AbsenceRecord.Type</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>NA_Type</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>AbsenceRecord.Start</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Start</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>AbsenceRecord.End</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>End</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>AbsenceRecord.ResourceId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Iterrate_Selected_SR.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>AbsenceRecord.RecordTypeId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_RecordTypeID.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>AbsenceRecord.Non_Availability__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Iterate_NA_ID.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>AbsenceRecord.FSL__GanttLabel__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>NA_Name</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>AbsenceRecord.Description</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Description</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>AbsenceRecord.Country</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Address.country</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>AbsenceRecord.Street</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Address.street</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>AbsenceRecord.City</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Address.city</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>AbsenceRecord.State</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Address.province</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>AbsenceRecord.PostalCode</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Address.postalCode</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Absence_Collection</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Add_ST_to_List</name>
        <label>Add ST to List</label>
        <locationX>1346</locationX>
        <locationY>1260</locationY>
        <assignmentItems>
            <assignToReference>uniqueST</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Iterate_Selected_Users.Description</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>NA_Instance</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_STM</name>
        <label>Assign STM</label>
        <locationX>1535</locationX>
        <locationY>381</locationY>
        <assignmentItems>
            <assignToReference>ServiceTerritoryMembers</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Get_Resource_IDs</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Iterate_Service_Territories</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>FT</name>
        <label>FT</label>
        <locationX>1441</locationX>
        <locationY>660</locationY>
        <assignmentItems>
            <assignToReference>StroreNameandID.Name</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Iterate_Resource_IDs.ServiceResource.Name</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>StroreNameandID.Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Iterate_Resource_IDs.ServiceResource.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>StroreNameandID.Description</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Iterate_Resource_IDs.ServiceTerritory.Name</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>StroreNameandID.FSL__GanttLabel__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Iterate_Resource_IDs.ServiceTerritory.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>resourceIds</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Iterate_Resource_IDs.ServiceResource.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Resource_Collection</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>NA_Collection</name>
        <label>NA Collection</label>
        <locationX>1532</locationX>
        <locationY>1131</locationY>
        <assignmentItems>
            <assignToReference>NAList</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>NARecord</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Iterate_Selected_Users</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>NA_Instance</name>
        <label>NA Instance</label>
        <locationX>1528</locationX>
        <locationY>1259</locationY>
        <assignmentItems>
            <assignToReference>NARecord.Name</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>NA_Name</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NARecord.Start_Date__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Start</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NARecord.End_Date__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>End</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NARecord.Type__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>NA_Type</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NARecord.Service_Territory__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Iterate_Selected_Users.FSL__GanttLabel__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NARecord.Applied_to_Resources__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NARecord.Description__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Description</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NARecord.Address__CountryCode__s</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Address.country</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NARecord.Address__Street__s</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Address.street</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NARecord.Address__City__s</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Address.city</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NARecord.Address__StateCode__s</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Address.province</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NARecord.Address__PostalCode__s</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Address.postalCode</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>NA_Collection</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Resource_Collection</name>
        <label>Resource Collection</label>
        <locationX>1540</locationX>
        <locationY>855</locationY>
        <assignmentItems>
            <assignToReference>ResourceRecord</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>StroreNameandID</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Iterate_Resource_IDs</targetReference>
        </connector>
    </assignments>
    <collectionProcessors>
        <name>NA_id</name>
        <elementSubtype>FilterCollectionProcessor</elementSubtype>
        <label>NA_id</label>
        <locationX>1048</locationX>
        <locationY>1475</locationY>
        <assignNextValueToReference>currentItem_NA_id_0</assignNextValueToReference>
        <collectionProcessorType>FilterCollectionProcessor</collectionProcessorType>
        <collectionReference>NAList</collectionReference>
        <conditionLogic>and</conditionLogic>
        <conditions>
            <leftValueReference>currentItem_NA_id_0.Service_Territory__c</leftValueReference>
            <operator>EqualTo</operator>
            <rightValue>
                <elementReference>Iterrate_Selected_SR.FSL__GanttLabel__c</elementReference>
            </rightValue>
        </conditions>
        <connector>
            <targetReference>Iterate_NA_ID</targetReference>
        </connector>
    </collectionProcessors>
    <decisions>
        <name>Check_Duplicate_Resources</name>
        <label>Check Duplicate Resources</label>
        <locationX>998</locationX>
        <locationY>788</locationY>
        <defaultConnector>
            <targetReference>Is_Active</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Unique</defaultConnectorLabel>
        <rules>
            <name>Is_Duplicate</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>resourceIds</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <elementReference>Iterate_Resource_IDs.ServiceResource.Id</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Iterate_Resource_IDs</targetReference>
            </connector>
            <label>Duplicate</label>
        </rules>
    </decisions>
    <decisions>
        <name>Contains_ST</name>
        <label>Contains ST</label>
        <locationX>1327</locationX>
        <locationY>1155</locationY>
        <defaultConnector>
            <targetReference>Add_ST_to_List</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>FALSE</defaultConnectorLabel>
        <rules>
            <name>TRUE1</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>uniqueST</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <elementReference>Iterate_Selected_Users.Description</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Iterate_Selected_Users</targetReference>
            </connector>
            <label>TRUE</label>
        </rules>
    </decisions>
    <decisions>
        <name>Has_Records</name>
        <label>Has Records ?</label>
        <locationX>746</locationX>
        <locationY>588</locationY>
        <defaultConnector>
            <targetReference>Resource_Not_Found</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>FALSE</defaultConnectorLabel>
        <rules>
            <name>TRUE</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>ServiceTerritoryMembers</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Iterate_Resource_IDs</targetReference>
            </connector>
            <label>TRUE</label>
        </rules>
    </decisions>
    <decisions>
        <name>Has_Records1</name>
        <label>Has Records?</label>
        <locationX>1437</locationX>
        <locationY>480</locationY>
        <defaultConnector>
            <targetReference>Iterate_Service_Territories</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>FALSE</defaultConnectorLabel>
        <rules>
            <name>TRUE4</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Resource_IDs</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_STM</targetReference>
            </connector>
            <label>TRUE</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_Active</name>
        <label>Is Active?</label>
        <locationX>1189</locationX>
        <locationY>661</locationY>
        <defaultConnector>
            <targetReference>Iterate_Resource_IDs</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>TRUE3</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Iterate_Resource_IDs.ServiceResource.IsActive</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>FT</targetReference>
            </connector>
            <label>TRUE</label>
        </rules>
    </decisions>
    <dynamicChoiceSets>
        <name>NAType</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Type__c</picklistField>
        <picklistObject>Non_Availability__c</picklistObject>
        <sortOrder>Asc</sortOrder>
    </dynamicChoiceSets>
    <environments>Default</environments>
    <interviewLabel>SFS Create NA in Bulk {!$Flow.CurrentDateTime}</interviewLabel>
    <label>SFS Create NA in Bulk</label>
    <loops>
        <name>Iterate_NA_ID</name>
        <label>Iterate NA ID</label>
        <locationX>1232</locationX>
        <locationY>1437</locationY>
        <collectionReference>NA_id</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Absence_Instance</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Iterrate_Selected_SR</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Iterate_Resource_IDs</name>
        <label>Iterate Resource IDs</label>
        <locationX>744</locationX>
        <locationY>718</locationY>
        <collectionReference>ServiceTerritoryMembers</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Check_Duplicate_Resources</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Select_Users1</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Iterate_Selected_Users</name>
        <label>Iterate Selected Users</label>
        <locationX>761</locationX>
        <locationY>1143</locationY>
        <collectionReference>SelectUsers.selectedRows</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Contains_ST</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Create_NA</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Iterate_Service_Territories</name>
        <label>Iterate Service Territories</label>
        <locationX>740</locationX>
        <locationY>462</locationY>
        <collectionReference>SelectServiceTerritories.selectedRows</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Get_Resource_IDs</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Has_Records</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Iterrate_Selected_SR</name>
        <label>Iterrate Selected SR</label>
        <locationX>975</locationX>
        <locationY>1327</locationY>
        <collectionReference>SelectUsers.selectedRows</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>NA_id</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Create_Absences</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>Create_Absences</name>
        <label>Create Absences</label>
        <locationX>767</locationX>
        <locationY>1646</locationY>
        <connector>
            <targetReference>SuccessMessage</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Rollback_Records</targetReference>
        </faultConnector>
        <inputReference>AbsenceList</inputReference>
    </recordCreates>
    <recordCreates>
        <name>Create_NA</name>
        <label>Create NA</label>
        <locationX>762</locationX>
        <locationY>1338</locationY>
        <connector>
            <targetReference>Iterrate_Selected_SR</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Rollback_Records</targetReference>
        </faultConnector>
        <inputReference>NAList</inputReference>
    </recordCreates>
    <recordLookups>
        <name>Get_RecordTypeID</name>
        <label>Get RecordTypeID</label>
        <locationX>760</locationX>
        <locationY>1007</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Iterate_Selected_Users</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Non Availability</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>RecordType</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Resource_IDs</name>
        <label>Get Resource IDs</label>
        <locationX>1055</locationX>
        <locationY>516</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Has_Records1</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>ServiceTerritoryId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Iterate_Service_Territories.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>ServiceTerritoryMember</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Service_Territories</name>
        <label>Get Service Territories</label>
        <locationX>740</locationX>
        <locationY>195</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Create_Non_Availability</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>IsActive</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>ServiceTerritory</object>
        <queriedFields>Id</queriedFields>
        <queriedFields>Name</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordRollbacks>
        <name>Rollback_Records</name>
        <label>Rollback Records</label>
        <locationX>503</locationX>
        <locationY>1749</locationY>
        <connector>
            <targetReference>FaultMessage</targetReference>
        </connector>
    </recordRollbacks>
    <screens>
        <name>Create_Non_Availability</name>
        <label>Create Non Availability</label>
        <locationX>735</locationX>
        <locationY>326</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Iterate_Service_Territories</targetReference>
        </connector>
        <fields>
            <name>SelectServiceTerritories</name>
            <dataTypeMappings>
                <typeName>T</typeName>
                <typeValue>ServiceTerritory</typeValue>
            </dataTypeMappings>
            <extensionName>flowruntime:datatable</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Select Service Territories</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>selectionMode</name>
                <value>
                    <stringValue>MULTI_SELECT</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>minRowSelection</name>
                <value>
                    <numberValue>1.0</numberValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>tableData</name>
                <value>
                    <elementReference>Get_Service_Territories</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>shouldDisplayLabel</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>columns</name>
                <value>
                    <stringValue>[{&quot;apiName&quot;:&quot;Name&quot;,&quot;guid&quot;:&quot;column-899c&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:false,&quot;customHeaderLabel&quot;:&quot;&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:0,&quot;label&quot;:&quot;Name&quot;,&quot;type&quot;:&quot;text&quot;}]</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>isShowSearchBar</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <fields>
            <name>Start</name>
            <dataType>DateTime</dataType>
            <fieldText>Start</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
            <validationRule>
                <errorMessage>&lt;p&gt;Start Date should be in future.&lt;/p&gt;</errorMessage>
                <formulaExpression>{!Start} &gt;= {!$Flow.CurrentDateTime}</formulaExpression>
            </validationRule>
        </fields>
        <fields>
            <name>End</name>
            <dataType>DateTime</dataType>
            <fieldText>End</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
            <validationRule>
                <errorMessage>&lt;p&gt;End Date can not be less than equal to Start Date&lt;/p&gt;</errorMessage>
                <formulaExpression>{!End} &gt; {!Start}</formulaExpression>
            </validationRule>
        </fields>
        <fields>
            <name>NA_Type</name>
            <choiceReferences>NAType</choiceReferences>
            <dataType>String</dataType>
            <fieldText>NA Type</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>NA_Name</name>
            <dataType>String</dataType>
            <fieldText>NA Name</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Description</name>
            <fieldText>Description</fieldText>
            <fieldType>LargeTextArea</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Address</name>
            <extensionName>flowruntime:address</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>FaultMessage</name>
        <label>Fault Message</label>
        <locationX>517</locationX>
        <locationY>1929</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>Fault_Message</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;strong style=&quot;color: rgb(202, 29, 29);&quot;&gt;Some error occured. Please try again.&lt;/strong&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;strong style=&quot;color: rgb(202, 29, 29);&quot;&gt;Error Message :{!$Flow.FaultMessage}&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Resource_Not_Found</name>
        <label>Resource Not Found</label>
        <locationX>500</locationX>
        <locationY>583</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>ResourceNotFound</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;strong style=&quot;color: rgb(48, 147, 96);&quot;&gt;No Resource available in the selected territory.&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Select_Users1</name>
        <label>Select Users</label>
        <locationX>762</locationX>
        <locationY>901</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Get_RecordTypeID</targetReference>
        </connector>
        <fields>
            <name>SelectUsers</name>
            <dataTypeMappings>
                <typeName>T</typeName>
                <typeValue>ServiceResource</typeValue>
            </dataTypeMappings>
            <extensionName>flowruntime:datatable</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Select Users</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>selectionMode</name>
                <value>
                    <stringValue>MULTI_SELECT</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>minRowSelection</name>
                <value>
                    <numberValue>1.0</numberValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>tableData</name>
                <value>
                    <elementReference>ResourceRecord</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>columns</name>
                <value>
                    <stringValue>[{&quot;apiName&quot;:&quot;Name&quot;,&quot;guid&quot;:&quot;column-bf9c&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:false,&quot;customHeaderLabel&quot;:&quot;&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:0,&quot;label&quot;:&quot;Name&quot;,&quot;type&quot;:&quot;text&quot;},{&quot;apiName&quot;:&quot;Description&quot;,&quot;guid&quot;:&quot;column-347b&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:true,&quot;customHeaderLabel&quot;:&quot;Service Territory&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:1,&quot;label&quot;:&quot;Description&quot;,&quot;type&quot;:&quot;text&quot;}]</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>shouldDisplayLabel</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>SuccessMessage</name>
        <label>Success Message</label>
        <locationX>766</locationX>
        <locationY>1939</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>Success_Message</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;strong style=&quot;color: rgb(21, 131, 39);&quot;&gt;All the Resource Absence created Successfully!!&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <start>
        <locationX>613</locationX>
        <locationY>50</locationY>
        <connector>
            <targetReference>Get_Service_Territories</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>AbsenceList</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>ResourceAbsence</objectType>
    </variables>
    <variables>
        <name>AbsenceRecord</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>ResourceAbsence</objectType>
    </variables>
    <variables>
        <name>currentItem_NA_id_0</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Non_Availability__c</objectType>
    </variables>
    <variables>
        <name>NAList</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Non_Availability__c</objectType>
    </variables>
    <variables>
        <name>NARecord</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Non_Availability__c</objectType>
    </variables>
    <variables>
        <name>NARecordTypeID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>resourceIds</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>ResourceRecord</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>ServiceResource</objectType>
    </variables>
    <variables>
        <name>ServiceTerritoryMembers</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>ServiceTerritoryMember</objectType>
    </variables>
    <variables>
        <name>StroreNameandID</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>ServiceResource</objectType>
    </variables>
    <variables>
        <name>uniqueST</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
